#boxer {
margin-right:20px;
margin-left:20px;
font-family:tahoma;
font-size:16px;
letter-spacing:0.5px;
margin-top:0px;
}

#buyleft {
padding:5px;
float:left;
margin-right:10px;
border-radius:10px;
width:100%;
}

#listbox {
float:left;
width:100%;
}

#menubox {
width:100px;
height:498px;
background:#ccc;
float:left;
margin-right:25px;
padding:15px;
border-radius:10px;
}

#menubox_sell {
width:100px;
height:300px;
float:left;
margin-right:25px;
background:#cccccc;
padding:20px;
border-radius:10px;
}

#bigdiv {
background:#cccccc;
float:left;
padding:20px;
width:620px;
height:300px;
border-radius:10px;
}

#menutext {
font-size:20px;
text-align:center;
padding:5px 10px;
border-radius:5px;
}

body {
background:#ebebeb;
padding:0px;
margin:0px;
font-family:tahoma;
letter-spacing:0.5px;
}

#app {
background:none;
-webkit-transition: all .5s;
-moz-transition: all .5s;
-o-transition: all .5s;
transition: all .5s; 
}

#appimg {
-webkit-transition: all .5s;
-moz-transition: all .5s;
-o-transition: all .5s;
transition: all .5s; 
border-radius:3px;
height:100px;
width:75px;
}

#appimg:hover {
border-radius:40px;
}

#buylist {
text-decoration:none;
padding:3px 15px;
color:white;
-webkit-transition: all .2s;
-moz-transition: all .2s;
-o-transition: all .2s;
transition: all .2s; 
background:#0099D2;
border-radius:5px;
margin-right:3px;
}

#pagebutton {
margin-right:5px;
padding:5px 10px;
text-decoration:none;
color:white;
background:#0099D2;
border-radius:5px;
border:none;
font-family:tahoma;
font-size:16px;
cursor:pointer;
}

#pagebutton:active {
background:#9a9a9a;
}

#buylist:hover {
background:#00aeef;
}

#buylist:active {
background:#9a9a9a;
}

#showcount {
z-index:9999;
top:100;
left:180;
float:left;
position:fixed;
}

#centerto {
width:1000px;
margin:0 auto;
}

#omnibar {
background:#0099D2;
padding:12px;
color:white;
margin-top:50px;
box-shadow: 2px 2px 4px rgba(0,0,0,.5);
}

#rightbox {
background:#cccccc;
float:left;
padding:20px;
width:200px;
height:300px;
border-radius:10px;
margin-left:20px;
}

#bart {
-webkit-transition: all .5s;
-moz-transition: all .5s;
-o-transition: all .5s;
transition: all .5s; 
}

#bart:hover {
-webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
-o-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
}

#omnilink {
padding:5px 15px;
text-decoration:none;
color:white;
border-radius:3px;
}

#omnilink:hover {
background-image: -webkit-linear-gradient(#0091f0, #0066BD);
background-image: -moz-linear-gradient(#0091f0, #0066BD);
background-image: -o-linear-gradient(#0091f0, #0066BD);
background-image: linear-gradient(#7cc576, #00a651);
}

#omnilink:active {
background-image: -webkit-linear-gradient(#00a651,#7cc576);
background-image: -moz-linear-gradient(#00a651,#7cc576);
background-image: -o-linear-gradient(#00a651,#7cc576);
background-image: linear-gradient(#00a651,#7cc576);
}

a:active {
color: black;
}

h3 {
margin-bottom:2px;
}

#basicinfo {
float:left;
margin-top:20px;
}

#otherinfo {
resize:none;
height:130px;
width:400px;
border:1px solid black;
font-family:tahoma;
color:#046caf;
font-size:16px;
padding:2px 5px;
border-radius:3px;
}

#logoimg {
float:left;
margin-left:4px;
height:42px;
margin-top:5px;
border-radius:3px;
}

#ban {
text-decoration:none;
color:white;
-webkit-transition: all .2s;
-moz-transition: all .2s;
-o-transition: all .2s;
transition: all .2s; 
}

#ban:hover {
-webkit-transition: all .2s;
-moz-transition: all .2s;
-o-transition: all .2s;
transition: all .2s; 
background:#6d6f70;
padding:5px 20px;
padding-top:3px;
border-radius:10px;
}

#ban:active {
color:#00ff00;
}


#banner {
font-size:22px;
margin-top:7px;
padding-top:3px;
width:98%;
color:white;
}

#logodiv {
height:52px;
background:#0099D2;
font-size:16px;
margin-top:-51px;
color:white;
width:100%;
position:fixed;
text-align:center;
background:#029dd8;
box-shadow: 2px 2px 4px rgba(0,0,0,.5);
float:left;
margin-bottom:200px;
}

a:twat {
text-decoration:none;
background:#448ccb;
color:white;
padding:3px 5px;
border-radius:3px;
}

.membergrid {
float:left;
margin:3px;
padding:3px 10px;
text-decoration:none;
background:#2986c2;
color:white;
border-radius:5px;
}

#menuhr {
background:#2986c2;
height:5px;
margin-bottom:0px;
border:none;
}

#menuhrhelp {
background:#2986c2;
height:5px;
border:none;
}

#menuitem {
background:#0072bc;
color:white;
padding:5px 10px;
text-decoration:none;
border:none;
cursor:pointer;
border-radius:3px;
}

#menuitem:hover {
background:#299be6;
}

#menuitem:active {
color:black;
}

#menuitemr {
background:#ec008c;
color:white;
padding:5px 10px;
text-decoration:none;
border-radius:3px;
border:none;
cursor:pointer;
}

#topmenu {
background:#027caa;
letter-spacing:0.5px;
color:white;
padding:6px 20px;
text-decoration:none;
border:none;
cursor:pointer;
float:right;
margin-top:-27px;
margin-right:8px;
border-radius:3px;
}

#topmenu:hover {
background:#038dc1;
}

#topmenu:active {
background:#01668c;
}

#menuitemr:hover {
background:#ff63bf;
}

#menuitemr:active {
color:black;
}

#menuitemu {
background:#ed1c24;
color:white;
padding:5px 10px;
text-decoration:none;
border-radius:3px;
border:none;
cursor:pointer;
float:right;
}

#menuitemu:hover {
background:#ff5a60;
}

#menuitemu:active {
color:black;
}


#menuitema {
background:#00a651;
color:white;
padding:5px 10px;
text-decoration:none;
border-radius:3px;
border:none;
cursor:pointer;
float:right;
}

#menuitema:hover {
background:#00d166;
}

#menuitema:active {
color:black;
}



#desczone {
padding:10px;
border-radius:3px;
color:white;
background:#0193ca;
}

table {
margin:0;
padding:0;
text-align:center;
}

#asda {
text-decoration:none;
color:black;
}

#mainimg {
float:left;
height:80px;
margin-right:10px;
-webkit-transition: all .2s;
-moz-transition: all .2s;
-o-transition: all .2s;
transition: all .2s; 
}

#mainimg:hover {
-webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
-o-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
background:#6dcff6;
border-radius:50px;
}

#mainimg:active {
background:#8a8a8a;
border-radius:50px;
}

#registerinput {
border:none;
border:1px solid black;
width:200px;
font-family:tahoma;
font-size:16px;
color:#046caf;
border-radius:3px;
padding:2px 5px;
}

#otherinfobox {
width:780px;
}

#datebox {
color:black;
padding:3px 5px;
}

#countbox {
background:#2986c2;
color:white;
padding:3px 5px;
border-radius:3px;
}

#soldbox {
background:green;
color:white;
padding:2px 4px;
border-radius:3px;
}

hr {
background:black;
height:1px;